.archive-container {
  background: white;
  min-height: 100vh;
  @include FLEXED(column, flex-start, center);
  .year-container {
    @include FLEXED(row, space-between, center);
    flex-wrap: wrap;
    width: 100%;
  }
  h2 {
    width: 100%;
    text-align: center;
    margin: 2vw 0px;

  }
  span.created-at{
    height: 50px;
    font-size: 1.2em;
    margin: 0px 10px;
    text-decoration: underline;
    &:hover {
      color: black;
    }
  }
  .current-year {
    width: 100%;
    padding: 10px 0px;
    li {
      width: 23%;
      padding: 0 2%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;

      .blog-title{
        white-space: nowrap;
        font-size: 1.5em;
        color: black;
        margin-right: 50%;
        margin-top: 10px;
        text-decoration: underline;
        &:hover {
          color: lighten(black, 20%);
        }
      }
    }
    .date {
      font-size: 1.2em;
      color: black;
      text-decoration: none;
    }
  }
}
