.container {
  background-image: url("../../images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 660px;
  header {
    @include FLEXED(row, space-between, center);
    height: 80px;
    margin: 0px 0px 25px 0px;
    padding-top: 25px;
    padding-left: 25px;

    img {
      border: 3px solid black;
      max-height: 100%;
      border-radius: 5%;
    }
    nav {
      @include FLEXED(row, space-around, center);
      width: 100%;
      font-weight: bold;
      font-size: 1.6em;
      a {
        color: black;
        &:hover {
          color: lighten(black, 20%);
        }
      }
    }
  }
  .sub-nav {
    @include FLEXED(row, flex-end, center);
    padding: 20px 20px 20px 0px;
    background-color: black;
    font-size: 1.2em;
    span {
      color: $link;
      margin: 0px 3%;
      cursor: pointer;
      &:hover {
        color: $hoveredLink;
      }
    }
    a {
      margin: 0px 3%;
    }
  }
  form {
    transition: all .4s ease;
  }
  form.shown {
    // display: inline-block;
    @include FLEXED(row, center, center);
    margin: 0px auto;
    padding: 15px 0px;
    // background: $link;
    width: 100%;
    span {
      margin: 0px 3%;
    }
    input {
      padding-left: 10px;
      margin-right: 2px;
      width: 35%;
    }
    button {
      background-color: black;
      font-size: 1.3em;
      color: white;
    }
  }
  form.hidden {
    height: 0;
    opacity: 0;
    button, input, span {
      display: none;
    }
  }
  .hero {
    position: relative;
  }
  .slogan {
    @include FLEXED(row, center, center);
    color: $link;;
    // background-color: rgba(7, 36, 48, 0.37);
    font-size: 6em;
  }
  footer {
    color: $link;;
    padding: 20px 40px;
    background-color: black;
  }
}
