.popular-container {
  @include FLEXED(column, center, center);
  text-transform: capitalize;
  h2.title {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    // background-color: #E9E8CC;
    background-color: white;
    width: 100%;
  }
  div.tabs {
    background: white;
    margin: 0;
    width: 100%;
  }
  .current-popular {
    width: 100%;
    background-color: white;
    .label-container {
      @include FLEXED(row, space-between, center);
      font-size: 2em;
      span {
        margin-right: 25%;
        text-decoration: underline;
        padding: 25px 0px;
      }
      span:first-child {
        margin-left: 25%;

      }
    }
    li.popular-list-item {
      @include FLEXED(row, space-between, center);
      width: 50%;
      margin: 0px auto;
      position: relative;
      padding-bottom: 20px;
      &:last-child {
        .rank {
          left: -8%;
        }
      }
      a {
        display: block;
        color: black;
        font-size: 1.7em;

        &:hover {
          color: lighten(black, 20%);
        }
      }
      .popular-attribute {
        display: block;
        color: black;
        font-size: 1.4em;
      }
      .rank {
        position: absolute;
        left: -6%;
        font-size: 1.3em;
      }
    }
  }
}
